*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: 1.6; }
  @media only screen and (max-width: 64.5em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 48.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 40.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 26em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 114em) {
    html {
      font-size: 100%; } }

body {
  width: 100%; }

.iconLeft {
  margin-right: 1rem; }

.iconRight {
  margin-left: 1rem; }

.informativePanel {
  max-width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  flex-wrap: wrap; }
  .informativePanel__section {
    list-style: none;
    display: flex; }
    .informativePanel__section li {
      padding: 0 2rem;
      display: flex;
      align-items: center; }
      .informativePanel__section li:not(:last-child) {
        border-right: 1px solid #e1e1e1; }
      .informativePanel__section li a {
        display: flex;
        align-items: center;
        width: 100%;
        color: #3c2f2f;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all .3s; }
        .informativePanel__section li a:hover {
          border-bottom: 1px solid rgba(75, 56, 50, 0.6); }
    .informativePanel__section--lang {
      cursor: pointer; }
    .informativePanel__section--flag {
      cursor: pointer;
      display: flex;
      align-items: center; }
      .informativePanel__section--flag img {
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem; }
  .informativePanel__langMenu {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 1rem;
    position: absolute;
    bottom: -11.2rem;
    left: 0;
    width: 20rem; }

.header {
  background-color: #be9b7b;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .header__name {
    font-family: "Poiret One", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    cursor: pointer; }
    .header__name h1 {
      font-size: 5rem;
      letter-spacing: .2rem;
      text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3); }
    .header__name h2 {
      font-size: 1.8rem;
      letter-spacing: .3rem; }
  .header__search {
    display: flex;
    flex: 1;
    margin: 0 5rem;
    align-items: center; }
    @media only screen and (max-width: 64.5em) {
      .header__search {
        margin: 0 2rem; } }
    .header__search input {
      border: none;
      height: 3rem;
      width: 50%;
      min-width: 20rem;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      padding: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
      .header__search input:focus {
        outline: none; }
    .header__search--icon {
      width: 5rem;
      background-color: #e1e1e1;
      font-size: 3rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      cursor: pointer;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
      color: #4b3832; }
  .header__shopping {
    max-width: 33%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    position: relative; }
    .header__shopping--icon {
      font-size: 3rem;
      cursor: pointer;
      color: #3c2f2f;
      transition: all .3s; }
      .header__shopping--icon:hover {
        transform: scale(1.2); }
    .header__shopping--amount {
      position: absolute;
      bottom: 0;
      right: 3rem;
      background-color: #854442;
      padding: 0rem .8rem;
      color: snow;
      font-size: 1.6rem;
      font-family: "Rajdhani", sans-serif;
      border-radius: 50%;
      box-shadow: 0rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4); }

.categoriesMenuPanel {
  max-width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #e1e1e1;
  list-style: none; }
  .categoriesMenuPanel li {
    padding: .5rem 1rem;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    font-size: 2rem;
    color: #3c2f2f;
    cursor: pointer;
    transition: all .3s;
    text-transform: uppercase;
    border-radius: 3px; }
    .categoriesMenuPanel li:hover {
      color: white;
      background-color: black;
      position: relative; }

.mirrorCategories {
  display: flex; }
  .mirrorCategories__section {
    flex: 0 0 50%;
    height: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center; }
    .mirrorCategories__section--men {
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/man_1.png);
      transition: all .6s; }
    .mirrorCategories__section--women {
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../img/women_1.png);
      transition: all .6s; }
    .mirrorCategories__section h3 {
      font-size: 5rem;
      font-weight: 300;
      display: block;
      transform: translateY(-15rem);
      font-family: "Poiret One", cursive;
      letter-spacing: .3rem;
      text-transform: uppercase;
      color: white; }
    .mirrorCategories__section button {
      border: none;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4b3832;
      padding: 1rem 4rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 3rem;
      color: white;
      cursor: pointer;
      transition: all .3s; }
      .mirrorCategories__section button:focus {
        outline: none; }
      .mirrorCategories__section button:hover {
        background-color: #be9b7b;
        color: #3c2f2f; }

.newCollectionPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  padding: 2rem; }
  .newCollectionPanel__header {
    position: relative;
    margin: 5rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem; }
    .newCollectionPanel__header h1 {
      font-family: "Rajdhani", sans-serif;
      font-weight: 300;
      text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
      font-size: 5rem;
      position: relative; }
      .newCollectionPanel__header h1:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: -50%;
        height: 1px;
        background-color: black;
        max-width: 50%;
        min-width: 50%; }
      .newCollectionPanel__header h1:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -50%;
        height: 1px;
        background-color: black;
        max-width: 50%;
        min-width: 50%; }
  .newCollectionPanel__collection {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative; }
  .newCollectionPanel__item {
    flex: 0 0 30%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    position: relative; }
    .newCollectionPanel__item:hover .newCollectionPanel__item--btn {
      display: flex; }
    @media only screen and (max-width: 64.5em) {
      .newCollectionPanel__item {
        flex: 0 0 40%; } }
    @media only screen and (max-width: 40.5em) {
      .newCollectionPanel__item {
        flex: 0 0 100%; } }
    .newCollectionPanel__item--name {
      font-family: "Poiret One", cursive;
      font-size: 4rem;
      text-align: center; }
    .newCollectionPanel__item--image {
      margin: 2rem auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .newCollectionPanel__item--image img {
        max-width: 100%;
        max-height: 20rem; }
    .newCollectionPanel__item--description {
      width: 100%;
      min-height: 20rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      font-family: "Dosis", sans-serif;
      font-size: 2rem; }
    .newCollectionPanel__item--price {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #854442;
      font-family: "Rajdhani", sans-serif;
      font-size: 4rem; }
    .newCollectionPanel__item--btn {
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid #4b3832;
      position: absolute;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      transition: all .3s; }
      .newCollectionPanel__item--btn div {
        padding: 1rem 5rem;
        background-color: #3c2f2f;
        border-radius: 3px;
        cursor: pointer; }
        .newCollectionPanel__item--btn div p {
          font-family: "Rajdhani", sans-serif;
          font-size: 2.5rem;
          color: white; }
