.informativePanel{

	max-width:100%;
	padding:1rem 2rem;
	border-bottom: 1px solid $color-grey;
	display:flex;
	justify-content: space-between;
	font-family: $font-dosis;
	font-size: 2rem;
	flex-wrap: wrap;
	

	&__section{
		list-style: none;
		display:flex;
		
		li{
			padding:0 2rem;
			display:flex;
			align-items: center;

			&:not(:last-child){

				border-right: 1px solid $color-grey;
			}

			a{
				display:flex;
				align-items: center;
				width:100%;
				color:$color-primary-dark;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				transition:all .3s;

				&:hover{
					border-bottom: 1px solid rgba($color-primary,.6);
				}
			}
		}

		&--lang{
			cursor:pointer;
		}
		&--flag{
			cursor:pointer;
			display:flex;
			align-items: center;

			img{
				margin-right: 1rem;
				width:2.5rem;
				height:2.5rem;
			}
		}
	}

	&__langMenu{

		border-left:1px solid $color-grey;
		border-right:1px solid $color-grey;
		border-bottom:1px solid $color-grey;
		padding:1rem;
		position:absolute;
		bottom:-11.2rem;
		left:0;
		width:20rem;
	}
}