.item{
	display:flex;
	align-items: center;
	justify-content: center;

	@include respond(s){
		margin-top: 5rem;
	}
	

	&__main{
		width:90%;
		display:grid;
		padding:2rem;
		border:1px solid $color-grey;
		grid-template-columns: 60% 40%;
		grid-template-rows: 8rem 1fr auto;

		@include respond(s){
			width:100%;
		}

		&--name{
			grid-column: 1/3;
			grid-row: 1/2;
			text-align: center;
			font-family: $font-rajdhani;
			font-weight: 300;
			text-shadow: .2rem .2rem .2rem rgba(0,0,0,.3);
			font-size: 5rem;


			@include respond(s){
				grid-column: 1/3;
				font-size: 3.5rem;
			}

		}


		&--image{
			grid-column: 1/2;
			grid-row: 2/3;
			display:flex;
			justify-content: center;
			align-items: flex-start;

			img{
				margin-top: 5rem;
				max-width:80%;
				border-radius: 3px;

				@include respond(l){
					max-width:90%;
				}
			}
		}
		&--info{

			grid-column: 2/3;
			grid-row: 2/3;
			font-family: $font-dosis;

			&-price{
				margin:2rem 1rem;
				font-size: 4rem;
				color:$color-reddish;
				text-align: center;
			}
			&-sizes{
				display:flex;
				justify-content: center;
				flex-wrap: wrap;

				@include respond(xs){
					justify-content: flex-start;
				}
				div{
					display:flex;
					justify-content: center;
					margin:1rem;
					border:1px solid $color-primary-light;
					padding:1rem 2rem;
					font-size: 2rem;
					cursor:pointer;
					transition:all .3s;

					@include respond(xs){
						padding:0 ;
						width:3rem;
					}

					&:hover{
						transform:scale(1.2);
					}
				}
			}
			&-colors{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				@include respond(xs){
					justify-content: flex-start;
				}
				div{
					margin:1rem;
					border:1px solid $color-primary-light;
					padding:2rem;
					border-radius: 50%;
					cursor:pointer;
					transition:all .3s;

					@include respond(xs){
						padding:1rem ;
						width:2rem;
					}

					&:hover{
						transform:scale(1.2);
					}
				}
			}
			&-selected{
				margin:2rem auto;
				display:flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;

				p{
					font-size: 2rem;
				}
			}
			&-btn{
				
				margin:5rem auto;
				display:flex;
				justify-content: center;


				button{
					border:none;
					padding:2rem 5rem;
					font-family: $font-rajdhani;
					font-size: 4rem;
					background-color: $color-reddish;
					color:white;
					border-radius: 3px;
					cursor:pointer;
					transition:all .3s;

					@include respond(s){
						padding: 1rem 3rem;
						background-color: orangered
					}

					&:focus{
						outline:none;
					}
					&:active{
						outline:none;
					}
					&:hover{
						background-color: orangered ;
					}

				}
			}
			&-shipping{
				list-style: none;
				font-family: $font-rajdhani;
				font-size: 1.8rem;
				color:$color-primary-dark;

				li{
					display:flex;
					align-items: center;

					&>*{
						min-width:1.8rem;
						color:green;
						margin-right: 1rem;
					}
				}
			}
		}
		&--details{
			grid-column: 1/3;
			grid-row: 3/4;
			padding:2rem;
			display:flex;
			flex-direction: column;

			&-tabs{
				display:flex;

				div{
					border-bottom: 1px solid $color-grey;
					border-right: 1px solid $color-grey;
					margin-right: 1rem;
					padding:1rem;
					font-family: $font-rajdhani;
					font-size: 2rem;
					cursor:pointer;
					transition:all .3s;

					&:hover{
						background-color: black;
						color:white;
					}
				}

			}
			&-content{
				margin-top: 5rem;
				padding:2rem;
				display:flex;

				div{
					font-family: $font-dosis;
					font-size: 2rem;

					h3{
						font-family: $font-rajdhani;
						font-weight: 900;
						margin: 1rem auto;
						text-transform: uppercase;
					}
					h4{
						
						color:$color-reddish;
						text-align: center;
					}
					h1{
						margin:3rem;
						width:10rem;
						color:$color-reddish;
						border:1px solid $color-reddish;
						padding:1rem 2rem;
						text-align: center;
					}
				}

			}
		}
	}
	
}