.login{
	padding-top: 18rem;
	@include respond(s){
		padding-top: 22rem;
	}
	
	&__header{
		display:flex;
		flex-direction: column;
		width:100%;
		justify-content: center;
		align-items: center;
		margin: 5rem auto 3rem auto;
		font-family: $font-poiret;

		h1{
			font-size: 3.5rem
		}
		h3{
			font-size: 2.5rem;
		}
	}

	&__form{
		display:flex;
		flex-direction: column;
		width:100%;
		justify-content: center;
		align-items: center;

		&--field{
			margin:2rem auto;
			width:100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			

			label{
				margin-right: 2rem;
				font-family: $font-rajdhani;
				font-size: 2rem;
			}
			input{
				border:1px solid $color-primary-light;
				width:30rem;
				border-radius: 3px;
				padding:1rem 2rem;
				font-family: $font-dosis;
				&:focus{
					outline:none;
					box-shadow: 0 0 1rem rgba($color-primary,.3);
				}

			}
			button{
				border:none;
				background-color: $color-primary-light !important;
				padding:2rem 5rem;
				background-color: white;
				color:white;
				font-family: $font-rajdhani;
				border-radius: 3px;
				font-size: 2.5rem;
				text-transform: uppercase;
				cursor:pointer;
				transition:all .3s;

				&:hover{
					background-color: $color-primary-light !important;
				}
				
				&:focus{
					outline:none;
				}
			}
		}
	}
}