.men{
	display:flex;
	flex-direction: column;
	padding:5rem;
	padding-top: 18rem;

	@include respond(xs){
		padding:1rem ;
		padding-top: 22rem;
	}

	&__header{
		@include header;
		margin-top: 5rem;
		width:100%;
		text-transform: uppercase;
	}

	&__categories{
		
		border:1px solid $color-grey;
		border-radius: 3px;
		padding:2rem;
		margin:5rem auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include respond(xs){
			padding:1rem ;
		}


	
		&--each{
			min-width:15%;
			display:flex;
			font-size: 2rem;
			font-family: $font-poiret;
			font-weight: 900;
			margin:2rem;
			text-transform: uppercase;
			cursor:pointer;
			transition:all .3s;
			letter-spacing: .2rem;
			color:$color-primary-light;

			&:hover{
				color:$color-primary;
			}

		}
	}

	&__below{

	}
}