

//colors

$color-primary-light-2: #fff4e6;
$color-primary-light: #be9b7b;
$color-primary: #4b3832;
$color-primary-dark: #3c2f2f;

$color-grey: #e1e1e1;
$color-reddish: #854442;

//fonts

$font-dosis: 'Dosis', sans-serif;
$font-rajdhani: 'Rajdhani', sans-serif;
$font-poiret: 'Poiret One', cursive;